body {
  background-color: #fff;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}
#container {
  margin: 0 auto;
  width: 700px;
}

/* Post body */
.post {
  background-color:#fff;
  border-left: 1px solid #ccc;
  min-height:100px;
  margin-left:10px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:10px;
  padding-right:10px;

}

.body {
  padding-left: 15px;
}

.date {
  color:#aaa;
  font-size:70%;
  padding-bottom:15px;
  margin-left:5px;
}

.title {
  font-size:250%;
}

.disqus {
  border-top: 1px solid #ccc;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size:80%;
  color: #aaa;
}

/*h2 { font-size: 1.5em; color: #0a0a0a; }*/
h1 { border-bottom: 4px solid #eee; font-size: 3.8em; color: #0a0a0a; padding-bottom: 8px; margin-bottom: 20px; }
h1 .small { font-size: 0.2em; font-weight:normal;}
h3 { text-align: center; color: #0a0a0a; }
a { color: #0a0a0a; }
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-size:60%;}
